src/styleguide.pug
extends pug/layout.pug

block meta
  - var title = 'Style Guide';
  title= title
  meta(name='description', content='')

block header

block content
  .container

    h2.s-main-subtitle Заголовок страницы

    pre
      code= '<h2 class="s-main-subtitle">Заголовок страницы</h2>'

    hr

    ul
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.
      li Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.

    pre
      code= '<ul>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '  <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>'
      code= '</ul>'

    hr

    +btn('Кнопка главная')
    +btn('Кнопка второстепенная', 'secondary')

    pre
      code= '<button class="s-btn">Кнопка главная</button>'
      code= '<button class="s-btn s-btn--secondary">Кнопка второстепенная</button>'

    hr

    .s-main-table
      table
        tr
          th Имя
          th Фамилия
          th Мыло
          th Статус
          th Политическая ориентация
        tr
          td Иннокентий
          td Иванов
          td Хозяйственное
          td Администратор
          td «ВСЕГДА!»
        tr
          td Васисуалий
          td Римский-Корсаков
          td Душистое
          td Пользователь
          td Нижняя

    pre
      code= '<div class="s-main-table">'
      code= '  <table>'
      code= '    <tr>'
      code= '      <th>Имя</th>'
      code= '      <th>Фамилия</th>'
      code= '      <th>Мыло</th>'
      code= '      <th>Статус</th>'
      code= '      <th>Политическая ориентация</th>'
      code= '    </tr>'
      code= '    <tr>'
      code= '      <td>Иннокентий</td>'
      code= '      <td>Иванов</td>'
      code= '      <td>Хозяйственное</td>'
      code= '      <td>Администратор</td>'
      code= '      <td>«ВСЕГДА!»</td>'
      code= '    </tr>'
      code= '    <tr>'
      code= '      <td>Васисуалий</td>'
      code= '      <td>Римский-Корсаков</td>'
      code= '      <td>Душистое</td>'
      code= '      <td>Пользователь</td>'
      code= '      <td>Нижняя</td>'
      code= '    </tr>'
      code= '  </table>'
      code= '</div>'

    hr

    +form()
      +fieldset('Fieldset 1')
        +field-text({
          title: 'Field Name 1',
          helpText: 'Help Text (if needed)',
          attrs: {
            placeholder: 'Placeholder'
          }
        })
        +field-text({
          title: 'Field Name 2',
          helpText: 'Help Text (if needed)',
          attrs: {
            placeholder: 'Placeholder'
          }
        })
        +field-action()
          +btn('Submit')(type='submit')

      +fieldset('Fieldset 2')
        +field-text({
          title: 'Field Name 3',
          helpText: 'Help Text (if needed)',
          attrs: {
            placeholder: 'Placeholder'
          }
        })
        +field-text({
          title: 'Field Name 4',
          helpText: 'Help Text (if needed)',
          attrs: {
            placeholder: 'Placeholder'
          }
        })
        +field-action()
          +btn('Submit')(type='submit')

    hr

    h1 Заголовок 1
    p Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h2 Заголовок 2
    p Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h3 Заголовок 3
    p Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.
    h4 Заголовок 4
    p Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.

    pre
      code= '<h1>Заголовок 1</h1>'
      code= '<p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.</p>'
      code= '<h2>Заголовок 2</h2>'
      code= '<p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.</p>'
      code= '<h3>Заголовок 3</h3>'
      code= '<p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.</p>'
      code= '<h4>Заголовок 4</h4>'
      code= '<p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.</p>'


block footer

dist/styleguide.html
<!DOCTYPE html>
<html class="no-js page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title>Style Guide</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body>
  <noscript>JavaScript is disabled</noscript>
  <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol id="breadcrumbs-icon" viewBox="0 0 15 13">
      <path d="M7.844.139l7.008 6.818a.481.481 0 0 1 .008.687.497.497 0 0 1-.696.008l-1.212-1.18v5.074c0 .803-.66 1.454-1.473 1.454H3.52a1.464 1.464 0 0 1-1.473-1.454V6.488L.836 7.668a.497.497 0 0 1-.82-.227.481.481 0 0 1 .132-.468L7.156.14a.496.496 0 0 1 .688 0z"
      />
    </symbol>
    <symbol id="mail--alternative" viewBox="0 0 11 11">
      <path d="M.543 6H5l-.021 4.462a.536.536 0 0 0 1.016.24L10.936.771a.537.537 0 0 0-.72-.721L.3 4.985A.537.537 0 0 0 .543 6z" />
    </symbol>
    <symbol id="phone--alternative" viewBox="0 0 11 12">
      <path d="M7.079 8.837L5.116 11.3A.654.654 0 0 1 4 10.841V8.852C1.488 8.351 0 6.6 0 4.5 0 2.015 2.087 0 5.5 0S11 2.015 11 4.5a4.5 4.5 0 0 1-3.921 4.337z" />
    </symbol>
    <symbol id="phone--in-circle" viewBox="0 0 40 40">
      <g fill-rule="evenodd">
        <circle cx="20" cy="20" r="20" fill="#24b47e" />
        <path fill="#fff" fill-rule="nonzero" d="M26.298 22.633c-.615-.615-1.383-.615-1.997 0-.46.461-.94.923-1.382 1.403-.115.135-.23.154-.384.077-.307-.173-.615-.288-.902-.48-1.344-.846-2.477-1.942-3.475-3.172-.5-.616-.941-1.27-1.248-2-.058-.153-.058-.25.076-.365.461-.442.922-.923 1.383-1.365.633-.634.633-1.403 0-2.037l-1.095-1.096-1.132-1.134c-.634-.615-1.402-.615-2.016-.02-.46.462-.922.942-1.402 1.385a2.263 2.263 0 0 0-.71 1.537c-.077.98.173 1.904.5 2.788.69 1.864 1.746 3.498 3.013 5.017a18.166 18.166 0 0 0 6.163 4.825c1.075.52 2.208.923 3.417 1 .845.038 1.575-.173 2.15-.827.404-.442.845-.846 1.268-1.288.633-.634.633-1.403 0-2.038-.73-.71-1.478-1.46-2.227-2.21z"
        />
      </g>
    </symbol>
    <symbol id="search-icon" viewBox="0 0 100 100">
      <path d="M88.9 80.7l-.1-.1-21.3-21.3c3.7-5.3 5.6-11.6 5.6-18 0-17.5-14.3-31.8-31.8-31.8S9.5 23.8 9.5 41.3s14.3 31.8 31.8 31.8c6.4 0 12.7-2 18-5.6l21.3 21.3c2.2 2.3 5.9 2.4 8.2.1 2.2-2.2 2.3-5.9.1-8.2zM41.3 64.5c-12.8 0-23.2-10.4-23.2-23.2s10.4-23.2 23.2-23.2c12.8 0 23.2 10.4 23.2 23.2S54.1 64.5 41.3 64.5z"
      />
    </symbol>
    <symbol id="small-arrow" viewBox="0 0 8 12">
      <title>Small Arrow</title>
      <path d="M1 1l4.943 5.005L1 11.01" />
    </symbol>
    <symbol id="small-long-arrow" viewBox="0 0 100 100">
      <path d="M94.381 53.129c.107-.268.172-.55.256-.825.067-.233.159-.46.207-.701a8.304 8.304 0 0 0 0-3.204c-.048-.242-.14-.468-.207-.701-.084-.276-.148-.558-.256-.825-.116-.276-.271-.525-.416-.785-.111-.208-.207-.423-.339-.623a8.095 8.095 0 0 0-1.027-1.255L66.574 18.183c-3.196-3.196-8.382-3.196-11.57 0a8.18 8.18 0 0 0 0 11.57l12.065 12.065H13.182a8.183 8.183 0 0 0 0 16.363H67.07L55.004 70.246c-3.196 3.196-3.196 8.378 0 11.57a8.148 8.148 0 0 0 5.785 2.397 8.16 8.16 0 0 0 5.785-2.397l26.024-26.025a8.066 8.066 0 0 0 1.027-1.254c.132-.2.228-.416.339-.623.145-.26.301-.51.417-.785z"
      />
    </symbol>
  </svg>
  <div class="page__inner">
    <div class="page__content">
      <div class="container">
        <h2 class="s-main-subtitle">Заголовок страницы</h2>
        <pre><code>&lt;h2 class=&quot;s-main-subtitle&quot;&gt;Заголовок страницы&lt;/h2&gt;</code></pre>
        <hr>
        <ul>
          <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>
          <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>
          <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>
          <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>
          <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>
          <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>
          <li>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.</li>
        </ul>
        <pre><code>&lt;ul&gt;</code><code>  &lt;li&gt;Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.&lt;/li&gt;</code><code>  &lt;li&gt;Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.&lt;/li&gt;</code><code>  &lt;li&gt;Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.&lt;/li&gt;</code><code>  &lt;li&gt;Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.&lt;/li&gt;</code><code>  &lt;li&gt;Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.&lt;/li&gt;</code><code>  &lt;li&gt;Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.&lt;/li&gt;</code><code>  &lt;li&gt;Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки.&lt;/li&gt;</code><code>&lt;/ul&gt;</code></pre>
        <hr>
        <button class="s-btn">Кнопка главная</button>
        <button class="s-btn  s-btn--secondary">Кнопка второстепенная</button>
        <pre><code>&lt;button class=&quot;s-btn&quot;&gt;Кнопка главная&lt;/button&gt;</code><code>&lt;button class=&quot;s-btn s-btn--secondary&quot;&gt;Кнопка второстепенная&lt;/button&gt;</code></pre>
        <hr>
        <div class="s-main-table">
          <table>
            <tr>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>Мыло</th>
              <th>Статус</th>
              <th>Политическая ориентация</th>
            </tr>
            <tr>
              <td>Иннокентий</td>
              <td>Иванов</td>
              <td>Хозяйственное</td>
              <td>Администратор</td>
              <td>«ВСЕГДА!»</td>
            </tr>
            <tr>
              <td>Васисуалий</td>
              <td>Римский-Корсаков</td>
              <td>Душистое</td>
              <td>Пользователь</td>
              <td>Нижняя</td>
            </tr>
          </table>
        </div>
        <pre><code>&lt;div class=&quot;s-main-table&quot;&gt;</code><code>  &lt;table&gt;</code><code>    &lt;tr&gt;</code><code>      &lt;th&gt;Имя&lt;/th&gt;</code><code>      &lt;th&gt;Фамилия&lt;/th&gt;</code><code>      &lt;th&gt;Мыло&lt;/th&gt;</code><code>      &lt;th&gt;Статус&lt;/th&gt;</code><code>      &lt;th&gt;Политическая ориентация&lt;/th&gt;</code><code>    &lt;/tr&gt;</code><code>    &lt;tr&gt;</code><code>      &lt;td&gt;Иннокентий&lt;/td&gt;</code><code>      &lt;td&gt;Иванов&lt;/td&gt;</code><code>      &lt;td&gt;Хозяйственное&lt;/td&gt;</code><code>      &lt;td&gt;Администратор&lt;/td&gt;</code><code>      &lt;td&gt;«ВСЕГДА!»&lt;/td&gt;</code><code>    &lt;/tr&gt;</code><code>    &lt;tr&gt;</code><code>      &lt;td&gt;Васисуалий&lt;/td&gt;</code><code>      &lt;td&gt;Римский-Корсаков&lt;/td&gt;</code><code>      &lt;td&gt;Душистое&lt;/td&gt;</code><code>      &lt;td&gt;Пользователь&lt;/td&gt;</code><code>      &lt;td&gt;Нижняя&lt;/td&gt;</code><code>    &lt;/tr&gt;</code><code>  &lt;/table&gt;</code><code>&lt;/div&gt;</code></pre>
        <hr>
        <form class="s-form">
          <fieldset class="s-form__fieldset">
            <legend class="s-form__legend">Fieldset 1</legend>
            <label class="s-field-text">
              <span class="s-field-text__name">Field Name 1</span>
              <span class="s-field-text__input-wrap">
                <input class="s-field-text__input" type="text" placeholder="Placeholder" />
                <span class="s-field-text__help-text">Help Text (if needed)</span>
              </span>
            </label>
            <label class="s-field-text">
              <span class="s-field-text__name">Field Name 2</span>
              <span class="s-field-text__input-wrap">
                <input class="s-field-text__input" type="text" placeholder="Placeholder" />
                <span class="s-field-text__help-text">Help Text (if needed)</span>
              </span>
            </label>
            <div class="s-field-action">
              <button class="s-btn" type="submit">Submit</button>
            </div>
          </fieldset>
          <fieldset class="s-form__fieldset">
            <legend class="s-form__legend">Fieldset 2</legend>
            <label class="s-field-text">
              <span class="s-field-text__name">Field Name 3</span>
              <span class="s-field-text__input-wrap">
                <input class="s-field-text__input" type="text" placeholder="Placeholder" />
                <span class="s-field-text__help-text">Help Text (if needed)</span>
              </span>
            </label>
            <label class="s-field-text">
              <span class="s-field-text__name">Field Name 4</span>
              <span class="s-field-text__input-wrap">
                <input class="s-field-text__input" type="text" placeholder="Placeholder" />
                <span class="s-field-text__help-text">Help Text (if needed)</span>
              </span>
            </label>
            <div class="s-field-action">
              <button class="s-btn" type="submit">Submit</button>
            </div>
          </fieldset>
        </form>
        <hr>
        <h1>Заголовок 1</h1>
        <p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся
          силуэт что не курсивных.</p>
        <h2>Заголовок 2</h2>
        <p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся
          силуэт что не курсивных.</p>
        <h3>Заголовок 3</h3>
        <p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся
          силуэт что не курсивных.</p>
        <h4>Заголовок 4</h4>
        <p>Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся
          силуэт что не курсивных.</p>
        <pre><code>&lt;h1&gt;Заголовок 1&lt;/h1&gt;</code><code>&lt;p&gt;Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.&lt;/p&gt;</code><code>&lt;h2&gt;Заголовок 2&lt;/h2&gt;</code><code>&lt;p&gt;Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.&lt;/p&gt;</code><code>&lt;h3&gt;Заголовок 3&lt;/h3&gt;</code><code>&lt;p&gt;Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.&lt;/p&gt;</code><code>&lt;h4&gt;Заголовок 4&lt;/h4&gt;</code><code>&lt;p&gt;Параграфы, расстояние между ними. Ссылка. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные ссылки. Грустный предупредила, дал приставка составитель решила подпоясал запятых сих ручеек которой власти до, над жизни возвращайся силуэт что не курсивных.&lt;/p&gt;</code></pre>
      </div>
    </div>
    <div class="page__footer-wrapper"></div>
  </div>
  <script src="js/script.min.js"></script>
</body>

</html>
