src/blocks/news-item/news-item.pug
mixin news-item()

  article.s-news-item.s-section
    header.s-news-item__header
      h1.s-news-item__title Решения для измерения базовых станций 5G
      time(datetime='2018-05-15') 15.05.2018
      hr
    .s-news-item__content
      img(src='https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1da640fd13656dc6e05c790366bd7c8b&auto=format&fit=crop&w=1502&q=80', alt='')

      p Компания Keysight Technologies, Inc. объявила о выпуске решения для измерения, анализа и визуализации покрытия базовых станций 5G. Программное обеспечение Nemo Outdoor компании Keysight в сочетании с ручными анализаторами ВЧ и СВЧ диапазонов FieldFox позволяет операторам мобильной связи и производителям сетевого оборудования измерять параметры радиосигналов и зоны покрытия систем 5G. Решение использует аналитические инструменты Nemo Outdoor для визуализации и последующей обработки данных, что позволяет производителям сетевого оборудования и операторам мобильной связи оценивать и проверять модели распространения сигналов базовых станций 5G для определения уровней покрытия систем сотовой связи 5G.

      p Ключевые нововведения:
      ul
        li Объединение ПО Keysight Nemo Outdoor с анализатором FieldFox позволяет тестировать радиопокрытие 5G в полевых условиях на ранних этапах планирования радиосетей
        li Измерение мощности сигналов базовых станций 5G
        li Решение Keysight Nemo Outdoor для тестирования в полевых условиях измеряет параметры радиоинтерфейса в беспроводных сетях
        li Ручной ВЧ-/СВЧ-анализатор Keysight FieldFox с максимальным частотным диапазоном до 50 ГГц

      blockquote.s-big-quote
        | &ldquo;В связи с отсутствием в настоящее время абонентских устройств 5G и очень малым числом решений для выполнения измерений 5G в полевых условиях, операторы мобильной связи сталкиваются с проблемами проверки соответствия моделей распространения, используемых в планировании сетей 5G,  реальным характеристикам по распространению сигналов, – отметил Юха Лауканен (Juha Laukkanen), руководитель отдела продуктов для измерения покрытия и сравнительного тестирования сетей связи компании Keysight. – Решение компании Keysight, объединяющее ПО Nemo Outdoor и анализатор FieldFox, предлагает пользователям уникальный инструмент, обеспечивающий точность моделей планирования 5G. Измерение уровней мощности сигналов базовых станций 5G в полевых условиях позволяет операторам и производителям сетевого оборудования проверять модели распространения сигналов 5G, облегчая развёртывание сетей и в конечном итоге ускоряя выход на рынок&rdquo;.

      p Решение компании Keysight для измерения сигналов 5G представляет собой готовую систему анализа распространения радиоволн миллиметрового диапазона, включающую необходимое программное обеспечение и оборудование с гарантированными точностными характеристиками для сбора, последующей обработки, анализа и визуализации данных, что позволяет получать статистическую информацию и легко обмениваться ею.
      p
        | Дополнительная информация о решении компании Keysight для измерения покрытия базовых станций 5G приведена на
        a(href="www.keysight.com/find/nemooutdoor") странице.
        |  Изображения решения для измерения покрытия базовых станций 5G представлены по
        a(href="www.keysight.com/find/nemooutdoor-images") ссылке.
        |  Видеоролик об измерительном решении Nemo 5G можно найти на
        a(href="youtu.be/ZDbW6VPoOyI") YouTube

dist/news-item.html
<!DOCTYPE html>
<html class="no-js page" lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="google" value="notranslate">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title>Решения для измерения базовых станций 5G</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="css/style.min.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body>
  <noscript>JavaScript is disabled</noscript>
  <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
    <symbol id="breadcrumbs-icon" viewBox="0 0 15 13">
      <path d="M7.844.139l7.008 6.818a.481.481 0 0 1 .008.687.497.497 0 0 1-.696.008l-1.212-1.18v5.074c0 .803-.66 1.454-1.473 1.454H3.52a1.464 1.464 0 0 1-1.473-1.454V6.488L.836 7.668a.497.497 0 0 1-.82-.227.481.481 0 0 1 .132-.468L7.156.14a.496.496 0 0 1 .688 0z"
      />
    </symbol>
    <symbol id="mail--alternative" viewBox="0 0 11 11">
      <path d="M.543 6H5l-.021 4.462a.536.536 0 0 0 1.016.24L10.936.771a.537.537 0 0 0-.72-.721L.3 4.985A.537.537 0 0 0 .543 6z" />
    </symbol>
    <symbol id="phone--alternative" viewBox="0 0 11 12">
      <path d="M7.079 8.837L5.116 11.3A.654.654 0 0 1 4 10.841V8.852C1.488 8.351 0 6.6 0 4.5 0 2.015 2.087 0 5.5 0S11 2.015 11 4.5a4.5 4.5 0 0 1-3.921 4.337z" />
    </symbol>
    <symbol id="phone--in-circle" viewBox="0 0 40 40">
      <g fill-rule="evenodd">
        <circle cx="20" cy="20" r="20" fill="#24b47e" />
        <path fill="#fff" fill-rule="nonzero" d="M26.298 22.633c-.615-.615-1.383-.615-1.997 0-.46.461-.94.923-1.382 1.403-.115.135-.23.154-.384.077-.307-.173-.615-.288-.902-.48-1.344-.846-2.477-1.942-3.475-3.172-.5-.616-.941-1.27-1.248-2-.058-.153-.058-.25.076-.365.461-.442.922-.923 1.383-1.365.633-.634.633-1.403 0-2.037l-1.095-1.096-1.132-1.134c-.634-.615-1.402-.615-2.016-.02-.46.462-.922.942-1.402 1.385a2.263 2.263 0 0 0-.71 1.537c-.077.98.173 1.904.5 2.788.69 1.864 1.746 3.498 3.013 5.017a18.166 18.166 0 0 0 6.163 4.825c1.075.52 2.208.923 3.417 1 .845.038 1.575-.173 2.15-.827.404-.442.845-.846 1.268-1.288.633-.634.633-1.403 0-2.038-.73-.71-1.478-1.46-2.227-2.21z"
        />
      </g>
    </symbol>
    <symbol id="search-icon" viewBox="0 0 100 100">
      <path d="M88.9 80.7l-.1-.1-21.3-21.3c3.7-5.3 5.6-11.6 5.6-18 0-17.5-14.3-31.8-31.8-31.8S9.5 23.8 9.5 41.3s14.3 31.8 31.8 31.8c6.4 0 12.7-2 18-5.6l21.3 21.3c2.2 2.3 5.9 2.4 8.2.1 2.2-2.2 2.3-5.9.1-8.2zM41.3 64.5c-12.8 0-23.2-10.4-23.2-23.2s10.4-23.2 23.2-23.2c12.8 0 23.2 10.4 23.2 23.2S54.1 64.5 41.3 64.5z"
      />
    </symbol>
    <symbol id="small-arrow" viewBox="0 0 8 12">
      <title>Small Arrow</title>
      <path d="M1 1l4.943 5.005L1 11.01" />
    </symbol>
    <symbol id="small-long-arrow" viewBox="0 0 100 100">
      <path d="M94.381 53.129c.107-.268.172-.55.256-.825.067-.233.159-.46.207-.701a8.304 8.304 0 0 0 0-3.204c-.048-.242-.14-.468-.207-.701-.084-.276-.148-.558-.256-.825-.116-.276-.271-.525-.416-.785-.111-.208-.207-.423-.339-.623a8.095 8.095 0 0 0-1.027-1.255L66.574 18.183c-3.196-3.196-8.382-3.196-11.57 0a8.18 8.18 0 0 0 0 11.57l12.065 12.065H13.182a8.183 8.183 0 0 0 0 16.363H67.07L55.004 70.246c-3.196 3.196-3.196 8.378 0 11.57a8.148 8.148 0 0 0 5.785 2.397 8.16 8.16 0 0 0 5.785-2.397l26.024-26.025a8.066 8.066 0 0 0 1.027-1.254c.132-.2.228-.416.339-.623.145-.26.301-.51.417-.785z"
      />
    </symbol>
  </svg>
  <div class="page__inner">
    <div class="page__content">
      <header class="s-page-header" role="banner">
        <div class="s-page-header__info">
          <div class="container">
            <div class="s-page-header__info-inner">
              <div class="s-page-header__logo">
                <a class="s-logo" href="index.html">
                  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 206 40" width="164" height="40">
                    <g fill="#24b47e" fill-rule="nonzero">
                      <path d="M39.58 26.44c1.4400572-4.1725784 1.4400572-8.7074216 0-12.88v12.88M22.23 39.89h.7V.09c-.23 0-.46-.07-.7-.09v39.89M23.78 39.78l.7-.14V.36l-.7-.14v39.56M26.94 39l.7-.25V1.3l-.7-.25V39M25.36 39.43l.7-.19V.77l-.7-.2v38.86M28.46 38.36l.7-.32V2l-.7-.32v36.68M30.07 37.57l.71-.4V2.83l-.71-.4v35.14M31.51 36.71l.7-.48V3.77c-.23-.17-.47-.33-.7-.48v33.42M34.57 34.26c.34-.33.67-.68 1-1V6.77c-.32-.35-.65-.7-1-1v28.49M32.92 35.7c.32-.26.64-.52.94-.79V5.09c-.3-.28-.62-.54-.94-.79v31.4M36.25 32.41c.36-.43.69-.88 1-1.35V8.93c-.32-.46-.65-.91-1-1.35v24.83M37.9 30a18.85999882 18.85999882 0 0 0 1.18-2.33V12.28A18.0499967 18.0499967 0 0 0 37.9 10v20M0 20c-.00172563 2.1853524.36334537 4.3554967 1.08 6.42V13.57C.36334437 15.6379559-.00171068 17.8113854 0 20M17.72.09v39.8h.7V0c-.23 0-.47.05-.7.09M16.17.36v39.28l.7.14V.22l-.7.14M13 1.31v37.38l.7.26V1.05l-.7.26M14.59.77v38.47l.7.19V.57l-.7.2M11.49 2v36l.7.32V1.64l-.7.33M9.88 2.83v34.34c.23.13.46.27.7.39V2.43l-.7.4M8.44 3.77v32.46l.7.48V3.29l-.7.48M5.09 6.78v26.44c.32.36.65.71 1 1V5.74c-.35.33-.68.68-1 1M6.79 5.09v29.82c.3.27.62.53.94.78V4.3c-.32.26-.64.52-.94.79M3.4 8.94v22.12c.31.46.64.91 1 1.35V7.59a14.72000084 14.72000084 0 0 0-1 1.35M1.57 12.29V27.7A18.8399975 18.8399975 0 0 0 2.75 30V10a20.35999381 20.35999381 0 0 0-1.18 2.33"></path>
                      <path d="M17.51 14.57c-.4118802 1.3735739-1.2573647 2.5768983-2.41 3.43l-14.6.11L.58 23s7.91-.12 13.08 0c3.57.09 4.4-2.55 4.57-4.19-.07 4.41-.27 19 .14 18.51.77-.84 3.55-12.12 4.16-13.3.61-1.18 3.21-.68 3.21-.68h14.38v-5.4s-13.31-.26-15.61 0c-2.75.32-3.51 4.9-3.51 4.9s.16-19.26-.45-19.49c-.58 0-1.82 8.05-3 11.22"></path>
                    </g>
                    <g fill="#525f7f">
                      <path d="M112.59 32.82h-10.78l-.81-2.56H90l-.92 2.56H78.41l4.39-10.16c-2.0836491.8051804-4.3071638 1.1859657-6.54 1.12H67v9H57V7.08h19.26c3.64 0 6.45.73 8.43 2.19 1.1328749.82632952 1.9985878 1.96670642 2.49 3.28l2.36-5.47h12.66l10.39 25.74zM76.76 15.37c.0972664-.8559702-.2877734-1.69535687-1-2.18-1.048996-.4640696-2.1959616-.66324326-3.34-.58H67v5.56h5.46c1.1167053.087508 2.2381045-.0942479 3.27-.53.7383837-.5065595 1.1350392-1.38074198 1.03-2.27zm22 8.58l-3.09-9.07L92.38 24l6.38-.05zM141.7 32.82h-28.12L111.15 27h1.91l8.64-20h12.66l8.07 20h1.86l-2.59 5.82zM130.89 24l-3.09-9.07-3.26 9.07h6.35zM205.51 15.41c.006556.88424547-.12158 1.7643335-.38 2.61l-.93 1.89c-.451919.6423921-1.005905 1.2065112-1.64 1.67-2 1.46-4.77 2.2-8.44 2.2h-9.29v9h-18.71l-.85-2.56h-11l-.93 2.56h-10.62l11.14-25.7h12.66l8.35 20.7V7.08h19.25c3.64 0 6.45.73 8.43 2.19 1.951479 1.42279561 3.062343 3.7270878 2.96 6.14zm-10.89 0c.097266-.8559702-.287773-1.69535687-1-2.18-1.048996-.4640696-2.195962-.66324326-3.34-.58h-5.46v5.56h5.46c1.113386.0858925 2.231164-.0958322 3.26-.53.773121-.4992441 1.192672-1.39661896 1.08-2.31v.04zM163 24l-3-9.12-3.31 9.12H163z"></path>
                    </g>
                  </svg>
                </a><strong class="s-page-header__slogan">Контрольно-<br>измерительные приборы</strong></div>
              <div class="s-page-header__hamburger">
                <button class="s-hamburger" type="button">
                  <span></span>
                </button>
              </div>
              <div class="s-page-header__search-form">
                <form class="s-search-form">
                  <input type="search" placeholder="Type something" />
                  <button type="submit" value="Найти">
                    <svg width="20" height="20">
                      <use xlink:href="#search-icon"></use>
                    </svg>
                  </button>
                </form>
              </div>
              <div class="s-page-header__contact">
                <svg width="40" height="40">
                  <use xlink:href="#phone--in-circle"></use>
                </svg>
                <ul>
                  <li>
                    <a href="tel:+78126004889">+7 812 600 4889</a>
                  </li>
                  <li>
                    <a href="mailto:info@radar1.ru">info@radar1.ru</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="s-page-header__nav-group">
          <div class="container">
            <div class="s-page-header__nav-group-inner">
              <div class="s-page-header__catalog"></div>
              <div class="s-page-header__nav">
                <nav class="s-main-nav" role="navigation">
                  <div class="row">
                    <div class="hidden-xs hidden-sm col-md-2">
                      <a class="s-main-nav__catalog-btn" href="/catalog.html">
                        <span></span>Каталог</a>
                    </div>
                    <div class="col-xs-12 col-md-10">
                      <ul class="s-main-nav__list">
                        <li class="s-main-nav__item">
                          <a class="s-main-nav__link" href="#">О компании</a>
                          <ul class="s-main-nav__sublist">
                            <li>
                              <a href="/list-of-manufacturers.html">Сертификаты</a>
                            </li>
                            <li>
                              <a href="#">Награды и дипломы</a>
                            </li>
                            <li>
                              <a href="#">О нас</a>
                            </li>
                            <li>
                              <a href="#">Благодарности и отзывы</a>
                            </li>
                            <li>
                              <a href="#">Реквизиты</a>
                            </li>
                            <li>
                              <a href="#">Контакты</a>
                            </li>
                          </ul>
                        </li>
                        <li class="s-main-nav__item">
                          <a class="s-main-nav__link" href="#">Производители</a>
                        </li>
                        <li class="s-main-nav__item">
                          <a class="s-main-nav__link" href="#">Услуги</a>
                          <ul class="s-main-nav__sublist">
                            <li>
                              <a href="#">Поверка</a>
                            </li>
                            <li>
                              <a href="#">Ремонт</a>
                            </li>
                            <li>
                              <a href="#">Тендеры</a>
                            </li>
                          </ul>
                        </li>
                        <li class="s-main-nav__item">
                          <a class="s-main-nav__link" href="#">Информация</a>
                          <ul class="s-main-nav__sublist">
                            <li>
                              <a href="#">Статьи</a>
                            </li>
                            <li>
                              <a href="#">Каталоги</a>
                            </li>
                            <li>
                              <a href="#">Реестр</a>
                            </li>
                            <li>
                              <a href="#">ПО</a>
                            </li>
                            <li>
                              <a href="#">Акции</a>
                            </li>
                            <li>
                              <a href="#">Выставки</a>
                            </li>
                          </ul>
                        </li>
                        <li class="s-main-nav__item">
                          <a class="s-main-nav__link" href="#">Новости</a>
                        </li>
                        <li class="s-main-nav__item">
                          <a class="s-main-nav__link" href="#">Как купить</a>
                          <ul class="s-main-nav__sublist">
                            <li>
                              <a href="#">Условия оплаты</a>
                            </li>
                            <li>
                              <a href="#">Даставка</a>
                            </li>
                            <li>
                              <a href="#">Гарантия</a>
                            </li>
                            <li>
                              <a href="#">Аренда</a>
                            </li>
                          </ul>
                        </li>
                        <li class="s-main-nav__item">
                          <a class="s-main-nav__link" href="#">Контакты</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="s-page-main-section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-8 col-md-push-4 col-lg-9 col-lg-push-3">
              <ul class="s-breadcrumb" aria-label="Breadcrumb" role="navigation">
                <li class="s-breadcrumb__item">
                  <a class="s-breadcrumb__link" href="/index.html">
                    <svg width="14" height="13">
                      <use xlink:href="#breadcrumbs-icon"></use>
                    </svg>Главная</a>
                </li>
                <li class="s-breadcrumb__item">
                  <a class="s-breadcrumb__link" href="/news-list.html">Новости</a>
                </li>
                <li class="s-breadcrumb__item">
                  <span>Решения для измерения базовых станций 5G</span>
                </li>
              </ul>
              <article class="s-news-item s-section">
                <header class="s-news-item__header">
                  <h1 class="s-news-item__title">Решения для измерения базовых станций 5G</h1><time datetime="2018-05-15">15.05.2018</time>
                  <hr/>
                </header>
                <div class="s-news-item__content">
                  <img src="https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=1da640fd13656dc6e05c790366bd7c8b&amp;auto=format&amp;fit=crop&amp;w=1502&amp;q=80" alt="" />
                  <p>Компания Keysight Technologies, Inc. объявила о выпуске решения для измерения, анализа и визуализации покрытия базовых станций 5G. Программное обеспечение Nemo Outdoor компании Keysight в сочетании с ручными анализаторами ВЧ и СВЧ диапазонов
                    FieldFox позволяет операторам мобильной связи и производителям сетевого оборудования измерять параметры радиосигналов и зоны покрытия систем 5G. Решение использует аналитические инструменты Nemo Outdoor для визуализации и последующей
                    обработки данных, что позволяет производителям сетевого оборудования и операторам мобильной связи оценивать и проверять модели распространения сигналов базовых станций 5G для определения уровней покрытия систем сотовой связи 5G.</p>
                  <p>Ключевые нововведения:</p>
                  <ul>
                    <li>Объединение ПО Keysight Nemo Outdoor с анализатором FieldFox позволяет тестировать радиопокрытие 5G в полевых условиях на ранних этапах планирования радиосетей</li>
                    <li>Измерение мощности сигналов базовых станций 5G</li>
                    <li>Решение Keysight Nemo Outdoor для тестирования в полевых условиях измеряет параметры радиоинтерфейса в беспроводных сетях</li>
                    <li>Ручной ВЧ-/СВЧ-анализатор Keysight FieldFox с максимальным частотным диапазоном до 50 ГГц</li>
                  </ul>
                  <blockquote class="s-big-quote">&ldquo;В связи с отсутствием в настоящее время абонентских устройств 5G и очень малым числом решений для выполнения измерений 5G в полевых условиях, операторы мобильной связи сталкиваются с проблемами проверки соответствия моделей распространения,
                    используемых в планировании сетей 5G, реальным характеристикам по распространению сигналов, – отметил Юха Лауканен (Juha Laukkanen), руководитель отдела продуктов для измерения покрытия и сравнительного тестирования сетей связи компании
                    Keysight. – Решение компании Keysight, объединяющее ПО Nemo Outdoor и анализатор FieldFox, предлагает пользователям уникальный инструмент, обеспечивающий точность моделей планирования 5G. Измерение уровней мощности сигналов базовых
                    станций 5G в полевых условиях позволяет операторам и производителям сетевого оборудования проверять модели распространения сигналов 5G, облегчая развёртывание сетей и в конечном итоге ускоряя выход на рынок&rdquo;.</blockquote>
                  <p>Решение компании Keysight для измерения сигналов 5G представляет собой готовую систему анализа распространения радиоволн миллиметрового диапазона, включающую необходимое программное обеспечение и оборудование с гарантированными точностными
                    характеристиками для сбора, последующей обработки, анализа и визуализации данных, что позволяет получать статистическую информацию и легко обмениваться ею.</p>
                  <p>Дополнительная информация о решении компании Keysight для измерения покрытия базовых станций 5G приведена на
                    <a href="www.keysight.com/find/nemooutdoor">странице.</a> Изображения решения для измерения покрытия базовых станций 5G представлены по
                    <a href="www.keysight.com/find/nemooutdoor-images">ссылке.</a> Видеоролик об измерительном решении Nemo 5G можно найти на
                    <a href="youtu.be/ZDbW6VPoOyI">YouTube</a>
                  </p>
                </div>
              </article>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8 col-lg-3 col-lg-pull-9">
              <article class="s-news-announcement s-section">
                <header class="s-news-announcement__header">
                  <h4 class="s-news-announcement__title">Новости</h4>
                  <a href="/news-list.html">Все новости</a>
                </header>
                <div class="s-news-announcement__content">
                  <ul class="s-news-announcement__list">
                    <li>
                      <article class="s-news-announcement__item"><time datetime="2018-05-15">15.05.2018</time>
                        <h5 class="s-news-announcement__item-title">Мультиметры APPA серии 200 и 500 внесены в Государственный реестр средств измерения РФ</h5>
                      </article>
                    </li>
                    <li>
                      <article class="s-news-announcement__item"><time datetime="2018-05-15">15.05.2018</time>
                        <h5 class="s-news-announcement__item-title">Мультиметры APPA серии 200 и 500 внесены в Государственный реестр средств измерения РФ</h5>
                      </article>
                    </li>
                    <li>
                      <article class="s-news-announcement__item"><time datetime="2018-05-15">15.05.2018</time>
                        <h5 class="s-news-announcement__item-title">Мультиметры APPA серии 200 и 500 внесены в Государственный реестр средств измерения РФ</h5>
                      </article>
                    </li>
                  </ul>
                </div>
                <footer class="s-news-announcement__footer">
                  <div class="s-news-announcement__nav">
                    <button type="button">
                      <svg width="20px" height="36px" viewbox="0 0 50 80" xml:space="preserve">
                        <polyline fill="none" stroke="#525f7f" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="35.63,75.8 0.375,38.087 35.63,0.375 "></polyline>
                      </svg>
                    </button>
                    <button type="button">
                      <svg width="20px" height="36px" viewbox="0 0 50 80" xml:space="preserve">
                        <polyline fill="none" stroke="#525f7f" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="35.63,75.8 0.375,38.087 35.63,0.375 "></polyline>
                      </svg>
                    </button>
                  </div>
                </footer>
              </article>
              <article class="s-subscription s-section">
                <header class="s-subscription__header">
                  <h4 class="s-subscription__title">Будьте всегда в курсе</h4>
                  <div class="s-subscription__desc">Узнавайте о скидках и акциях первым</div>
                </header>
                <form class="s-subscription__form" id="sendsay_form" name="form_385" action="https://sendsay.ru/form/x_1497435644237287/3" method="post" onsubmit="javascript:if(typeof sendsay_check_form === 'function'){ return sendsay_check_form(this); }"
                  accept-charset="utf-8">
                  <div class="s-subscription__form-group subpro_clear sendsayFieldItem" id="_member_email">
                    <div class="subpro_right">
                      <input class="subpro_input pro_mustbe form-control" placeholder="E-mail" data-type="email" name="_member_email" value="" size="" required="" type="email" />
                      <div id="_error" style="display:none;"></div>
                    </div>
                  </div>
                  <div class="s-subscription__form-group subpro_clear" id="sendsayFormSubmitBox">
                    <button class="subpro_btn" name="bt_save" type="submit"></button>
                  </div>
                </form>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page__footer-wrapper">
      <footer class="s-page-footer" role="contentinfo">
        <div class="s-page-footer__inner container">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-push-4">
              <div class="s-page-footer__nav">
                <div class="row">
                  <div class="col-xs-12 col-md-6">
                    <div class="row">
                      <div class="s-page-footer__nav-group col-xs-6 col-lg-7">
                        <h3 class="s-page-footer__subtitle">О компании</h3>
                        <ul class="s-page-footer__nav-list">
                          <li>
                            <a href="#">Сертификаты</a>
                          </li>
                          <li>
                            <a href="#">Награды и дипломы</a>
                          </li>
                          <li>
                            <a href="/about-company.html">О нас</a>
                          </li>
                          <li>
                            <a href="#">Благодарности и отзывы</a>
                          </li>
                          <li>
                            <a href="#">Реквизиты</a>
                          </li>
                          <li>
                            <a href="/list-of-manufacturers.html">Производители</a>
                          </li>
                        </ul>
                      </div>
                      <div class="s-page-footer__nav-group col-xs-6 col-lg-5">
                        <h3 class="s-page-footer__subtitle">Услуги</h3>
                        <ul class="s-page-footer__nav-list">
                          <li>
                            <a href="#">Поверка</a>
                          </li>
                          <li>
                            <a href="#">Ремонт</a>
                          </li>
                          <li>
                            <a href="#">Тендеры</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="row">
                      <div class="s-page-footer__nav-group col-xs-6">
                        <h3 class="s-page-footer__subtitle">Информация</h3>
                        <ul class="s-page-footer__nav-list">
                          <li>
                            <a href="#">Статьи</a>
                          </li>
                          <li>
                            <a href="#">Реестр</a>
                          </li>
                          <li>
                            <a href="#">ПО</a>
                          </li>
                          <li>
                            <a href="#">Акции</a>
                          </li>
                          <li>
                            <a href="#">Выставки</a>
                          </li>
                          <li>
                            <a href="/news-list.html">Новости</a>
                          </li>
                        </ul>
                      </div>
                      <div class="s-page-footer__nav-group col-xs-6">
                        <h3 class="s-page-footer__subtitle">Как купить</h3>
                        <ul class="s-page-footer__nav-list">
                          <li>
                            <a href="#">Условия оплаты</a>
                          </li>
                          <li>
                            <a href="#">Доставка</a>
                          </li>
                          <li>
                            <a href="#">Гарантия</a>
                          </li>
                          <li>
                            <a href="#">Аренда</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 col-md-pull-8">
              <h3 class="s-page-footer__subtitle">Контакты</h3><address class="s-page-footer__address"><p>Санкт-Петербург, ул. Краснопутиловская,<br> дом 25, лит. А, пом. 9Н</p><p>Пн. – Чт.: с 9:15 до 18:00<br> Пт: с 9:15 до 15:30<br> Сб, Вс – выходной</p></address></div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-10">
              <ul class="s-page-footer__contact-list">
                <li>
                  <a href="tel:+78126004889">
                    <svg width="11" height="12">
                      <use xlink:href="#phone--alternative"></use>
                    </svg>+7 812 600 4889</a>
                </li>
                <li>
                  <a href="mailto:info@radar1.ru">
                    <svg width="11" height="12">
                      <use xlink:href="#mail--alternative"></use>
                    </svg>info@radar1.ru</a>
                </li>
                <li>
                  <button type="button">
                    <svg viewBox="0 0 170 42" width="170" height="42">
                      <rect x="2" y="2" width="166" height="38" rx="2" ry="2"></rect>
                    </svg>Заказать звонок</button>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="s-page-footer__copyright">&#169; Radar</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="js/script.min.js"></script>
</body>

</html>
